html, body, #root, .App {
  height: 100%;
}

.content {
  overflow-y: auto;
}

.collapsed-sidebar {
  width: 80px;
}

.collapsed-sidebar .nav-link {
  justify-content: center;
}

.collapsed-sidebar .dropdown-toggle {
  justify-content: center;
}

.collapsed-sidebar .dropdown-menu {
  transform: translateX(80px);
}
